@import "tailwindcss";

@theme {
  --color-brand: #20B2AA;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #05080a;
}

::-webkit-scrollbar-thumb {
  background: #20B2AA;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1a908a;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}
